<header class="site-header">
  <div class="header-container">
    <!-- Left Navigation -->
    <nav class="header-nav header-nav-left">
      <ul class="nav-menu">
        <li><a href="/collections">Collections</a></li>
        <li><a href="/pages/about">About</a></li>
        <li><a href="/pages/contact">Contact</a></li>
      </ul>
    </nav>

    <!-- Center Logo -->
    <div class="header-logo">
      <a href="/" class="logo-link">
        <img 
          src="{{ 'PRIMARY-LOGO-Noir-(SHAMSY).png' | asset_img_url: 'large' }}" 
          alt="{{ shop.name }}" 
          width="200" 
          height="200"
          class="logo-image">
      </a>
    </div>

    <!-- Right Navigation -->
    <nav class="header-nav header-nav-right">
      <ul class="nav-menu">
        <li><a href="/search">Search</a></li>
        <li><a href="/account">Account</a></li>
        <li><a href="/cart">Cart ({{ cart.item_count }})</a></li>
      </ul>
    </nav>
  </div>
</header>